body{

  background-image: url("http://7-themes.com/data_images/out/31/6874214-wave-wallpaper.jpg");
  margin: 10px 50px 10px 50px;
  font-family: 'Indie Flower', 'Cabin';
  color: lightgreen;
}

h2{
  text-align: center;
}